<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="body">

    <nav class="nav">
        <ul>
            <li><a href="#home" target="_self">About</a></li>
            <li><a href="#project" target="_top">Projects</a></li>
            <li><a href="#achievements" target="_top">Achievements</a></li>
            <li><a href="#expertise" target="_top">Expertise</a></li>
        </ul>
    </nav>
  
        <section id="home">

            <div class="container">
                
                <img src="/static/img/pic1.png" alt="pic1.png" class="img">
                
                <div class="words">
                    <h4>Hello, It's me</h4>
                    <h2> Cassee O. Orion </h2>
                    <p>  "A recent IT graduate from Mindanao State University in Naawan."</p>
        
                    <div class="Icon">

                        <div class="child1">
                            <a href="https://web.facebook.com/marco.orion.50/" target="_blank">
                                <i class="fab fa-facebook"></i> 
                                <p>Kzy Orion (Cassee)</p>
                           </a>
                        </div>
                       
                        <div class="child1">
                            <i class="fa solid fa-envelope"> </i> 
                            <p>casseeorion05@gmail.com</p>
                        </div>
                        
                        <div class="child1">
                            <i class="fa solid fa-phone"></i>  
                            <p>09071453613</p>
                        </div>
                    
                    </div>
                    
                    <div class="button">
                        <a href="/static/img/CV.pdf" class="btn btn-outline" download>Download CV</a>
                    </div>
                
                </div>

              
            </div>
        </section>
    

    <section id="project">
        <div class="Projects">
            <h1>PROJECTS</h1>
        </div>
        
        <div class="title">
            <H3>Inventory System at ApothecaRxe Pharmacy at Manticao Misamis Oriental</H3>
        </div>
      
        <div class="container2">
            <img src="/static/img/pic2.jpeg" alt="pic2.jpeg">
            <p> "I oversee the preparation and organization of all papers and documentation related to the system's development. My role involves ensuring that every aspect of the process is thoroughly documented, from initial data gathering to the evaluation of requirements, which are crucial to the successful development of the system. I carefully consider the needs of stakeholders and ensure that all relevant information is accurately reflected in the documentation to support clear communication and effective decision-making throughout the project's lifecycle."</p>
        </div>
        
    
        <div class="title2">
            <H3>Job Request System at Mindanao State University at Naawan</H3>
        </div>
      
        <div class="container3">
            <img src="/static/img/pic3.PNG" alt="pic3.PNG">
            <p> "During my internship at Mindanao State University in Naawan, I took on the role of a full-stack developer with basic knowledge, contributing to both the frontend and backend development of the Job Request System as part of a project-based initiative. I assisted in designing and implementing user interfaces, while also supporting the backend functionality to ensure a smooth flow of data and user interactions. Alongside my development work, I provided input as a System Analyst, helping gather requirements and ensure the system design aligned with project goals."</p>
        </div>
    
    </section>
  


    <section id="achievements">
        <div class="achievements">
            <h1>ACHIEVEMENTS</h1>
        </div>
    
        <div class="achv">
            <div class="all">
                <div class="achv1">
                    <h3>Diploma in Humanities and Social Sciences</h3>
                  </div>
                
                  <div class="content2">
                    <img src="/static/img/final.jpg" alt="">
                    <p>"I graduated with honors as an Academic Achiever, receiving my diploma in Humanities and Social Sciences (HUMSS). I’m thankful for the opportunity to study in this field and for the encouragement from those around me. This accomplishment is a reflection of both my efforts and the support I've had throughout my academic journey."</p>
                  </div>
            </div>
           
            <div class="all1">
                <div class="achv2">
                    <h3>Bachelor of Science in Information Technology</h3>
                  </div>
                
                  <div class="content3">
                    <img src="/static/img/GRAD PIC.jpg" alt="">
                    <p>"I’m grateful to have graduated with Cum Laude honors. This recognition reflects the support I received from my professors, family, and peers, as well as my own dedication to my studies. It’s a reminder of the importance of hard work and perseverance, and it motivates me to continue striving for excellence in all my future endeavors."</p>
                  </div>
            </div>
            
          </div>    
    </section>


    <section id="expertise">

        <div class="expert">
            <h1>Expertise</h1>
        </div>

        <div class="sentence">
        <p >With a basic knowledge of the following: </p>
        </div>

        <div class="img2">
            <img src="/static/img/1.png" alt="">
            <img src="/static/img/2.png" alt="">
            <img src="/static/img/3.png" alt="">
            <img src="/static/img/4.png" alt="">
            <img src="/static/img/5.jfif" alt="">
            <img src="/static/img/6.png" alt="">
            <img src="/static/img/7.jpg" alt="">
        </div>
    </section>
   
    <div class="footer">
        <p>&copy; 2024 Cassee O. Orion. All rights reserved.</p>
    </div>
</body>
</html>
